@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

:root {
    --main-color: white;
    font-family: 'PT Sans Caption', sans-serif;
}

h1,
h2,
h3,
p,
div {
    margin: 0;
    padding: 0;
}

header .toolbar {
    padding: 0;
}

header .toolbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .toolbar li {
    font-size: 3rem;
    display: inline;
    list-style-type: none;
}

header .toolbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .toolbar li a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(82, 73, 73, 0.5);
    margin-top: 10px;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 110%;
}
