:root {
    --main-color: white;
    font-family: 'Baloo Chettan', cursive;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: black;
}

h1,h2,h3,p,div {
    margin: 0;
    padding: 0;
}

main {
    color: var(--main-color);
    font-family: 'Baloo Chettan', cursive;
}
footer {
    color: 
}
main .contacts {
    justify-content: center;
}

.form-control is-invalid {
    padding: 0;
}