@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|ZCOOL+XiaoWei');

:root {
    --main-color: white;
    font-family: 'PT Sans Caption', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: black;
}

h1,
h2,
h3,
p,
div {
    margin: 0;
    padding: 0;
}

header .banner {
    background-image: url(../img/emblemb.jpg);
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


main {
    color: var(--main-color);
    font-family: 'PT Sans Caption', sans-serif;
}

main .home_1 {
    background-image: url(../img/family.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

main .home_2 {
    background-image: url(../img/farme.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

main .home_3 {
    background-image: url(../img/ingredients.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

main .home_4 {
    background-image: url(../img/process.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

main .headline {
    font-size: 2rem;
    margin: auto;
    text-align: center
}

main .subtitle {
    font-size: 3rem;
    padding-left: 10px;
    text-align: center;
    padding-top: 0px;

}

main .home_5 {
    padding: 200px 4px 200px 4px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.home_5 .subtitle {
    padding-top: 40px;
}
