:root {
    --main-color: white;
    --secodary-color: black;
    font-family: 'PT Sans Caption', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: black;
}

h1,
h2,
h3,
p,
div {
    margin: 0;
    padding: 0;
}

main {
    color: var(--main-color);
    font-family: 'PT Sans Caption', sans-serif;
}

main .yogurt {
    background-image: url(../img/yogurt.jpg);
    min-height: 500px;
    display: flex;
    background-position: center;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.productt {
    color: var(--secodary-color);
    font-size: 4rem;
    padding: 40px;
}

.product-list_1 {
    padding-top: 10px;
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card h3,
.product-card p {
    padding: 0 5px;
}

main .cheese_labne {
    background-image: url(../img/labne.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.product-list_2 {
    padding-top: 10px;
}


@media (min-width: 480px) {
    .product-list_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 700px) {
    .product-list_1 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.card-title,
.card-text {
    font-size: 1rem;
    margin: auto;
    text-align: center
}

.button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    background-color: black;
    margin-left: 5px;
}

.card-title {
    text-transform: uppercase;
}

@media (min-width: 480px) {
    .product-list_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 700px) {
    .product-list_2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}