:root {
    --main-color: white;
    font-family: 'Baloo Chettan', cursive;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: saddlebrown;
}

h1,h2,h3,p,div {
    margin: 0;
    padding: 0;
}

main {
    color: var(--main-color);
    font-family: 'Baloo Chettan', cursive;
}

main .yogurt {
    background-image: url(../img/yogurt.jpg);
    min-height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .cheese_labne {
    background-image: url(../img/labne.jpg);
    min-height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .koffito {
    background-image: url(../img/koffito.jpg);
    min-height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}